# Ignore python cache and IDE settings
__pycache__/
.idea/
.ipynb_checkpoints/

# Ignore large model files and checkpoints
models/
models/*.ckpt
models/*.zip
val_ckpt/
training/

# Ignore logs and output files
*.out
*.err
log/
logs/
lightning_logs/
image_log/
log_image/
npz_result/
# dataset&else
taming/

# Ignore sh
*.sh
*.out
*.err
extensions/
User/
